<!doctype html>
<html>
	<body>
		<form name="attachment_input" action="/submit_data/" method="post">
		<table>
			<tr><td>Username: </td> <td> <input type="text" name="Username"></td></tr>
			<tr><td>Password: </td> <td> <input type="password" name="pwd"></td></tr>
			<tr><td>Bug Id: </td> <td> <input type="text" name="bugid"></td></tr>
			<tr><td>Reporter's email: </td> <td> <input type="email" name="email"></td></tr>
			<tr><td>Bounty amount: </td> <td> <input type="number" name="amount"></td></tr>
			<tr><td>Reported Date: </td> <td> <input type="date" name="reported_date"></td></tr>
			<tr><td>Fixed Date: </td> <td> <input type="date" name="fixed_date"></td></tr>
			<tr><td>Awarded Date: </td> <td> <input type="date" name="awarded_date"></td></tr>
			<tr><td>Deserves Recognition </td> <td> <input type="radio" name="deserves_recognition" value="Yes">Yes
													 <input type="radio" name="deserves_recognition" value="No">No
													 </td></tr>
			<tr><td>Credit1: </td> <td> <input type="text" name="credit1"></td></tr>
			<tr><td>Credit2: </td> <td> <input type="text" name="credit2"></td></tr>
			<tr><td>Credit3: </td> <td> <input type="text" name="credit3"></td></tr>
			<tr><td><input type="submit" value="Submit"></td></tr>
			</table>
		</form>
	</body>
</html>
